@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100..800;1,100..400&display=swap');

@import "tailwindcss";

@theme {
    /* Кольори */
    --color-blue-gray: #4E7DA6;
    --color-blue-gray-hover: #719BBC;
    --color-bg: #F4ECE4;
    --color-primary: #491E42;
    --color-card-purple: #491E42B2;
    --color-card-pink: #D95F69;
    --color-card-pink-hover: #ED8F85;
    --color-hover-btn: #E2838B;
    --color-card-muted: #8C5F7A;
    --color-card-light-pink: #DE847A;
    --color-bg-menu: #FFFCF8;
    --color-muted-purple: #8C587A;


    /* Шрифти */
    --font-sans: "Arimo", sans-serif;
}

@layer components {
    header nav li.active > a {
        opacity: .5;
    }


    .fluid-button {
        display: flex;
        justify-content: center;
    }

    .read-badge {
        padding-block: clamp(0.1875rem, 0.3125vw, 0.175rem) !important;
        padding-inline: clamp(0.4375rem, 0.629vw, 0.875rem) !important;
    }

    .no-bg:not(.active-menu) nav > div button.text-bg,
    .no-bg:not(.active-menu) nav > a.text-bg {
        color: var(--color-primary) !important;
    }

    .no-bg:not(.active-menu) .logo svg path.name-logo {
        fill: var(--color-primary) !important;
    }

    .bg-faq-gradient {
        background: linear-gradient(180deg, #76426E 0%, #894C7E 100%) !important;
    }

    /* --- Типографіка (вже адаптивна за твоїм прикладом) --- */
    .text-fluid-h1 {
        font-size: clamp(3rem, 5.2vw, 6.25rem);
        line-height: 1.12;
        letter-spacing: -0.03em;
        font-weight: 400;
    }

    .text-fluid-h2 {
        font-size: clamp(2.5rem, 3.5vw, 4.5rem);
    }

    .text-fluid-44 {
        font-size: clamp(2.125rem, 0.25rem + 2.083vw, 2.75rem) !important;
    }

    .text-fluid-36 {
        font-size: clamp(1.625rem, 1.805vw, 2.25rem) !important;
    }

    .text-fluid-28 {
        font-size: clamp(1.25rem, 1.5vw, 1.75rem);
        letter-spacing: -0.03em;
    }

    .text-fluid-24 {
        font-size: clamp(1.125rem, 1.25vw, 1.5rem) !important;
        line-height: 1.3;
        letter-spacing: -0.02em;
    }

    .text-fluid-20 {
        /*font-size: clamp(1rem, 1.25vw, 1.25rem);*/
        font-size: clamp(0.9375rem, 1.042vw, 1.25rem) !important;
    }

    .text-fluid-18 {
        font-size: clamp(0.875rem, 0.9375vw, 1.125rem) !important;
        letter-spacing: -0.02em;
    }

    .text-fluid-16 {
        font-size: clamp(0.718rem, 0.823vw, 1rem) !important;
    }

    .text-fluid-hero {
        font-size: clamp(2.5rem, 5.2vw, 5.8rem);
        line-height: 1.05;
        letter-spacing: -0.02em;
    }

    .btn-fluid-icon {
        width: clamp(2.625rem, 3vw, 3.5rem); /* 42px на 1440px -> 56px на 1920px */
        height: clamp(2.625rem, 3vw, 3.5rem);
    }


}

/* --- FLUID LAYOUT OVERRIDES (SCALE 0.75) --- */
/* Ці правила зроблять стандартні класи Tailwind адаптивними */
@layer utilities {
    /* Приховуємо скролбар для Chrome, Safari та Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Приховуємо скролбар для IE, Edge та Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE та Edge */
        scrollbar-width: none;  /* Firefox */
    }
    /* Як має бути у вашому CSS файлі */
    .reveal-hidden {
        opacity: 0;
        transform: translateY(20px);
        /* Анімуємо ТІЛЬКИ opacity та transform */
        transition: opacity 0.7s ease-out, transform 0.7s ease-out;
        will-change: opacity, transform;
    }

    .reveal-visible {
        opacity: 1;
        transform: translateY(0);
    }

    [x-cloak] { display: none !important; }

    @media (min-width: 640px) and (max-width: 1024px) {
        .lg\:px-25 {
            padding-left: clamp(3.875rem, 5.208vw, 6.25rem) !important;
            padding-right: clamp(3.6875rem, 5.208vw, 6.25rem) !important;
        }
    }


    @media (min-width: 640px) {
        .play-btn.small-play.w-20 {
            /* 60px на 1440px та 80px на 1920px */
            width: clamp(3.75rem, 4.166vw, 5rem) !important;
        }

        .play-btn.small-play.h-20 {
            /* 60px на 1440px та 80px на 1920px */
            height: clamp(3.75rem, 4.166vw, 5rem) !important;
        }

        .play-btn.small-play svg {
            /* 20px на 1440px та 32px на 1920px */
            width: clamp(1.25rem, -1rem + 2.5vw, 2rem) !important;
            height: clamp(1.25rem, -1rem + 2.5vw, 2rem) !important;
            margin-right: -4px;
        }

        .sm\:pb-16 {
            padding-bottom: clamp(3rem, 0rem + 3.333vw, 4rem) !important;
        }

        .sm\:p-12 {
            padding: clamp(2.25rem, 2.5vw, 3rem) !important;
        }

        .sm\:pt-16 {
            padding-top: clamp(3rem, 0rem + 3.333vw, 4rem) !important;
        }

        .sm\:mt-16 {
            margin-top: clamp(3rem, 0rem + 3.333vw, 4rem) !important;
        }

        .profile-left {
            /* 320px на 1440px та 418px на 1920px */
            width: clamp(20rem, 1.625rem + 20.416vw, 26.125rem) !important;
        }

        .profile-icon .w-8 {
            /* 25px на 1440px та 32px на 1920px */
            width: clamp(1.5625rem, 0.25rem + 1.458vw, 2rem) !important;
        }

        .profile-icon .h-8 {
            /* 25px на 1440px та 32px на 1920px */
            height: clamp(1.5625rem, 0.25rem + 1.458vw, 2rem) !important;
        }

        .last-item-blog {
            display: none;
        }

        .fluid-button {
            padding: clamp(0.797rem, 1.1vw, 1.063rem) clamp(1.359rem, 2.75vw, 1.813rem) !important;
            font-size: clamp(0.84rem, 1vw, 1.125rem); /* Зменшено на 25% на малих екранах */
            line-height: 1;
        }

        .play-btn svg {
            width: clamp(1.75rem, 2.892vw, 2.75rem) !important;
            height: clamp(1.75rem, 2.892vw, 2.75rem) !important;
            margin-right: -8px;
        }

        .h-40.play-btn {
            height: clamp(6.125rem, 8.333vw, 10rem) !important;
        }

        .w-40.play-btn {
            width: clamp(6.125rem, 8.333vw, 10rem) !important;
        }

        .leading-\[1\.5\] {
            line-height: 1.3;
        }

        .sm\:gap-16 {
            gap: clamp(3.375rem, 3.75vw, 4.5rem) !important;
        }

        .sm\:gap-12 {
            /* Від 30px до 44px у діапазоні екранів 1440px-1920px */
            gap: clamp(1.875rem, -0.75rem + 2.917vw, 2.75rem);
        }

        .list-icon-svg {
            /* Від 27px до 40px у діапазоні екранів 1440px-1920px */
            width: clamp(1.6875rem, -0.75rem + 2.708vw, 2.5rem);
            height: clamp(1.6875rem, -0.75rem + 2.708vw, 2.5rem);
        }

        .btn-small {
            padding: clamp(0.656rem, 0.83vw, 0.875rem) clamp(1rem, 1.2vw, 1.75rem) !important;
            font-size: clamp(0.718rem, 0.8vw, 1rem) !important;
            line-height: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            justify-items: center;
        }

        /* Стрілочка в навігації (шеврон) */
        nav button svg {
            width: clamp(0.6rem, 0.667vw, 0.8rem) !important;
        }

        /* Іконки в групах меню */
        nav .group svg {
            height: clamp(1rem, 1.111vw, 1.33rem) !important;
        }

        /* Маленькі іконки всередині h-10 контейнерів */
        nav .group .h-10 svg {
            height: clamp(0.5rem, 0.556vw, 0.67rem) !important;
        }

        /* Іконки всередині тексту fluid-18 (наприклад, стрілочки в списках) */
        .text-fluid-18 svg {
            height: clamp(0.65rem, 0.729vw, 0.87rem) !important;
            /* Марджини теж робимо гумовими, щоб іконка не "налізала" на текст */
            margin-right: clamp(-0.33rem, -0.278vw, -0.25rem) !important;
            margin-left: clamp(-0.26rem, -0.222vw, -0.2rem) !important;
        }

        .rounded-\[40px\] {
            border-radius: clamp(1.875rem, 2.083vw, 2.5rem) !important;
        }

        /* Перевизначаємо rounded-2xl */
        .rounded-2xl {
            border-radius: clamp(0.75rem, 0.833vw, 1rem) !important;
        }

        /* Якщо ти використовуєш rounded-3xl (це 24px) */
        .rounded-3xl {
            border-radius: clamp(1.125rem, 1.25vw, 1.5rem) !important;
        }

        /* py-20 (80px -> 60px) */
        .sm\:py-20 {
            padding-top: clamp(3.75rem, 4.167vw, 5rem) !important;
            padding-bottom: clamp(3.75rem, 4.167vw, 5rem) !important;
        }

        /* mb-16: 48px на 1440px -> 64px на 1920px */
        .sm\:mb-16 {
            margin-bottom: clamp(3rem, 3.333vw, 4rem) !important;
        }

        /* lg:mb-20: 60px на 1440px -> 80px на 1920px */
        .lg\:mb-20,
        .sm\:mb-20 {
            margin-bottom: clamp(3.75rem, 4.167vw, 5rem) !important;
        }

        .sm\:mt-16 {
            margin-top: clamp(3rem, 3.333vw, 4rem) !important;
        }


        /* 2xl:py-24 (96px -> 72px) */
        .sm\:py-24 {
            padding-top: clamp(4.5rem, 5vw, 6rem) !important;
            padding-bottom: clamp(4.5rem, 5vw, 6rem) !important;
        }

        /* py-4 (16px -> 12px) */
        .py-4 {
            padding-top: clamp(0.75rem, 0.83vw, 1rem) !important;
            padding-bottom: clamp(0.75rem, 0.83vw, 1rem) !important;
        }

        /* p-10 (40px -> 30px) - Мега-меню */
        .p-10 {
            padding: clamp(1.875rem, 2.08vw, 2.5rem) !important;
        }

        .p-6 {
            padding: clamp(1.125rem, 1.25vw, 1.5rem) !important;
        }

        /* p-8 (32px -> 24px) - Картки */
        .p-8 {
            padding: clamp(1.5rem, 1.66vw, 2rem) !important;
        }

        .px-8 {
            padding-left: clamp(1.5rem, 1.667vw, 2rem) !important;
            padding-right: clamp(1.5rem, 1.667vw, 2rem) !important;
        }

        /* pb-8: 24px на 1440px -> 32px на 1920px */
        .sm\:pb-8 {
            padding-bottom: clamp(1.5rem, 1.667vw, 2rem) !important;
        }

        .btn-fluid-icon svg {
            height: 1.3rem;
        }

        .section-fluid-height {
            min-height: clamp(34.375rem, 31.25vw, 37.5rem);
        }

        /* py-3.5 (14px -> 10.5px) та px-7 (28px -> 21px) - Кнопка */
        .py-3\.5 {
            padding-top: clamp(0.656rem, 0.73vw, 0.875rem) !important;
            padding-bottom: clamp(0.656rem, 0.73vw, 0.875rem) !important;
        }

        .px-3 {
            padding-left: clamp(0.5625rem, 0.625vw, 0.75rem) !important;
            padding-right: clamp(0.5625rem, 0.625vw, 0.75rem) !important;
        }

        .px-7 {
            padding-left: clamp(1.312rem, 1.45vw, 1.75rem) !important;
            padding-right: clamp(1.312rem, 1.45vw, 1.75rem) !important;
        }

        .sm\:pt-10 {
            padding-top: clamp(1.875rem, 2.083vw, 2.5rem) !important;
        }

        /* Якщо ти також використовуєш pb-10 або py-10, їх краще додати поруч */
        .sm\:pb-10 {
            padding-bottom: clamp(1.875rem, 2.083vw, 2.5rem) !important;
        }

        .sm\:mb-6 {
            margin-bottom: clamp(1.125rem, 1.25vw, 1.5rem) !important;
        }

        .sm\:pt-10 {
            padding-top: clamp(1.875rem, 2.083vw, 2.5rem) !important;
        }


        .pt-20 {
            padding-top: clamp(3.75rem, 4.167vw, 5rem) !important;
        }

        /* py-6 (24px -> 18px) та px-6 (24px -> 18px) - Пункти списку Help */
        .py-6 {
            padding-top: clamp(0.984rem, 1.093vw, 1.3125rem) !important;
            padding-bottom: clamp(0.984rem, 1.093vw, 1.3125rem) !important;
        }

        .px-6 {
            padding-left: clamp(0.984rem, 1.093vw, 1.3125rem) !important;
            padding-right: clamp(0.984rem, 1.093vw, 1.3125rem) !important;
        }

        .md\:p-8 {
            padding: clamp(1.5rem, 1.666vw, 2rem) !important;
        }


        /*.px-6 {*/
        /*    padding-left: clamp(1.125rem, 1.25vw, 1.5rem) !important;*/
        /*    padding-right: clamp(1.125rem, 1.25vw, 1.5rem) !important;*/
        /*}*/
        /* --- GAP (ВІДСТУПИ) --- */
        /* lg:gap-14 (56px -> 42px) */
        .lg\:gap-14 {
            gap: clamp(2.625rem, 2.91vw, 3.5rem) !important;
        }

        /* lg:gap-8 (32px -> 24px) */
        .lg\:gap-8 {
            gap: clamp(1.5rem, 1.66vw, 2rem) !important;
        }

        /* gap-6 (24px -> 18px) */
        .gap-6 {
            gap: clamp(1.125rem, 1.25vw, 1.5rem) !important;
        }

        /* gap-4 (16px -> 12px) */
        .sm\:gap-4 {
            gap: clamp(0.85rem, 0.83vw, 1rem) !important;
        }

        /* gap-2.5 (10px -> 7.5px) */
        .gap-2\.5 {
            gap: clamp(0.468rem, 0.72vw, 0.725rem) !important;
        }

        .gap-2 {
            gap: clamp(0.375rem, 0.417vw, 0.5rem) !important;
        }

        .sm\:gap-10 {
            gap: clamp(1.875rem, 2.083vw, 2.5rem) !important;
        }

        /* --- РОЗМІРИ --- */
        /* h-12 (48px -> 36px) - Логотип */
        .logo .h-12,
        .mob-btn.h-12 {
            height: clamp(2.45rem, 2.5vw, 3rem) !important;
        }

        .mob-btn.w-12 {
            width: clamp(2.45rem, 2.5vw, 3rem) !important;
        }

        /* w-10 h-10 (40px -> 30px) - Іконки в картках */
        .w-10 {
            width: clamp(1.875rem, 2.08vw, 2.5rem) !important;
        }

        .h-10 {
            height: clamp(1.875rem, 2.08vw, 2.5rem) !important;
        }

        /* w-11 h-6 - Стрілочки */
        .w-11 {
            width: clamp(0.515rem, 0.57vw, 0.687rem) !important;
        }

        /* w-6: 18px на 1440px -> 24px на 1920px */
        .sm\:w-6 {
            width: clamp(1.125rem, 1.25vw, 1.5rem) !important;
        }

        /* h-6: 18px на 1440px -> 24px на 1920px */
        .sm\:h-6 {
            height: clamp(1.125rem, 1.25vw, 1.5rem) !important;
        }

        .sm\:h-21 {
            height: clamp(3.75rem, 4.375vw, 5.25rem) !important;
        }

        .custom-height-fluid svg {
            height: clamp(0.7rem, 0.781vw, 0.9375rem) !important;
        }

        footer .h-12 svg {
            height: 1.1rem;
        }

        .testimonial-quote-icon svg {
            /* 1.7rem на 1440px -> 2.27rem на 1920px */
            height: clamp(1.7rem, 1.889vw, 2.27rem) !important;
            width: auto; /* зберігаємо пропорції */
        }

        .arrows-slider .h-12 svg {
            height: 0.7rem;
        }

        footer .w-12,
        .arrows-slider .w-12 {
            width: clamp(2.25rem, 2.5vw, 3rem) !important;
        }

        .author-desc .w-13 {
            width: clamp(2.4375rem, 2.708vw, 3.25rem) !important;
        }

        .author-desc .h-13 {
            height: clamp(2.4375rem, 2.708vw, 3.25rem) !important;
        }

        /* Перевизначаємо h-12: 36px на 1440px -> 48px на 1920px */
        footer .h-12,
        .arrows-slider .h-12 {
            height: clamp(2.25rem, 2.5vw, 3rem) !important;
        }


    }
    @media (min-width: 767px) {
        .profile-price {
            width: clamp(19.375rem, -0.875rem + 22.5vw, 26.125rem) !important;
        }
    }
    @media (min-width: 1024px) {
        /* w-40: 130px на 1440px -> 160px на 1920px */
        .w-40.play-btn {
            width: clamp(8.125rem, 8.333vw, 10rem) !important;
        }

        .\32 xl\:gap-14 {
            gap: clamp(2.625rem, 2.917vw, 3.5rem) !important;
        }

        /* h-40: 130px на 1440px -> 160px на 1920px */
        .h-40.play-btn {
            height: clamp(8.125rem, 8.333vw, 10rem) !important;
        }

        .lg\:px-25 {
            padding-left: clamp(3.875rem, 5.208vw, 6.25rem) !important;
            padding-right: clamp(3.6875rem, 5.208vw, 6.25rem) !important;
        }

        .last-item-blog {
            display: block;
        }

        .lg\:mt-20 {
            /* Від 60px на 1440px до 80px на 1920px */
            margin-top: clamp(3.75rem, 0rem + 4.167vw, 5rem);
        }

        .lg\:mt-22 {
            margin-top: clamp(4.125rem, 4.583vw, 5.5rem) !important;
        }
    }
    @media (min-width: 1400px) {
        .lg\:px-25 {
            padding-left: clamp(4.6875rem, 5.208vw, 6.25rem) !important;
            padding-right: clamp(4.6875rem, 5.208vw, 6.25rem) !important;
        }

        .leading-\[1\.5\] {
            line-height: 1.5;
        }
    }

    @media (max-width: 1024px) {
        .profile-left {
            width: 50% !important;
        }

        .profile-price {
            width: 100% !important;
        }

        .no-bg .mob-btn.btn-mob-open {
            background: var(--color-primary);
        }

        .no-bg .mob-btn.btn-mob-open svg.btn-mob-open path {
            stroke: var(--color-bg) !important;
        }
    }
    @media (max-width: 640px) {
        .profile-icon .w-8 {
            width: 24px;
            margin-right: 16px;
        }

        .small-play {
            width: 64px;
            height: 64px;
        }

        .profile-icon .h-8 {
            height: 24px;
        }

        .gap-8 {
            gap: clamp(1.5rem, 1.66vw, 2rem) !important;
        }

        .pb-8 {
            padding-bottom: clamp(1.5rem, 1.667vw, 2rem) !important;
        }

        .btn-48 {
            font-size: 16px !important;
            min-height: 48px !important;
            padding: 0 !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .list-icon-svg {
            max-width: 29px;
            max-height: 30px;
        }

        .mb-20 {
            margin-bottom: clamp(3.75rem, 4.167vw, 5rem) !important;
        }

        .fluid-button {
            padding: clamp(0.697rem, 1.1vw, 1.063rem) clamp(1.159rem, 2.75vw, 1.813rem) !important;
        }

        .mt-16 {
            margin-top: clamp(3rem, 3.333vw, 4rem) !important;
        }

        .text-fluid-28 {
            font-size: 22px;
        }

        .gap-4 {
            gap: clamp(0.85rem, 0.83vw, 1rem) !important;
        }

        /*.gap-10 {*/
        /*    gap: clamp(1.875rem, 2.083vw, 2.5rem) !important;*/
        /*}*/
        .btn-fluid-icon {
            width: 40px;
            height: 40px;
        }

        .play-btn svg {
            width: 20px;
            height: 20px;
            margin-right: -4px;
        }

        .h-40.play-btn {
            height: 64px !important;
        }

        .w-40.play-btn {
            width: 64px !important;
        }

        .fluid-button:not(.hidden) {
            display: inline-flex;
        }

        .fluid-button {
            font-size: 20px;
            height: 62px;
            align-content: center;
            align-items: center;
            justify-content: center;
        }

        .btn-small {
            /*padding: clamp(0.656rem, 0.83vw, 0.875rem) clamp(0.9rem, 1.2vw, 1.75rem) !important;*/
            /*font-size: clamp(0.718rem, 0.8vw, 1rem) !important;*/
            /*line-height: 1;*/
        }

    }

    @media (min-width: 640px) and (max-width: 768px) {
        body,
        .btn-small{
            font-size: 16px !important;
        }

        .btn-48 {
            font-size: 16px !important;
            min-height: 48px !important;
            padding: 0 !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .fluid-button {
            font-size: 20px;
            height: 62px;
            align-content: center;
            align-items: center;
            justify-content: center;
        }

        .fluid-button{
            font-size: 20px !important;
        }
    }




}

/* --- РЕШТА ТВОЇХ СТИЛІВ --- */

@utility reveal-hidden {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s cubic-bezier(0.5, 0, 0, 1);
}
@utility reveal-visible {
    opacity: 1;
    transform: translateY(0);
}

.dashed-line-path {
    stroke-dasharray: 10, 10;
    animation: dash 60s linear infinite;
}

button {
    cursor: pointer;
}

@keyframes dash {
    to {
        stroke-dashoffset: 1000;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.3;
    font-size: clamp(0.718rem, 0.823vw, 1rem) !important;
    background-color: var(--color-bg);
    color: var(--color-primary);
}

.line-svg svg {
    max-width: 100%;
}

.mod_line h3 {
    padding-top: 100px
}

@media only screen and (max-width: 1480px) {
    .line-svg svg {
        max-width: 80%;
    }

    .top-\[95\%\] {
        top: 76%;
    }
}

@media only screen and (max-width: 1180px) {
    .line-svg svg {
        max-width: 65%;
    }

    .left-\[11\%\] {
        left: 9%;
    }

    .-top-\[20\%\] {
        top: calc(32% * -1);
    }

    .top-\[95\%\] {
        top: 70%;
    }
}